Respond in JSON with the following format:

{
    "steps": [
        {
            "name": "name of the step",
            "input": "short step description never has to be empty",
            "additional_input": {
            \"arg1\": \"value1", 
            "additional parameters here", etc...
            }
        }
    ]
    , "additional steps or the required ones here", etc...
}